{% extends "layouts/main.html" %}

{% set pageName="Do you want to create a shared space?" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ pageName }}
    </h1>

    <p>A shared space allows you to draft LPAs with other people...</p>

    <form method="post" action="/redirect">      
      {{ govukRadios({
        name: "redirect",
        fieldset: {
          legend: {
            text: "Would you like to create a shared space?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {value: "name-the-space", text: "Yes"},
          {value: "dashboard", text: "No, I will work alone"}
        ]
      }) }}
      
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
