{% extends "layouts/unbranded.html" %}

{% block pageTitle %}
  Fake OneLogin – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="aside">
    <h1 class="govuk-heading-xl">
      Pretend this is OneLogin
    </h1>
    <p>
      You are here to sign-in to OneLogin or create a new OneLogin account.
    </p>
    <p>
      But then you have a choice of paths to take:
    </p>
    <ul class="govuk-list">
      <li><a href="dashboard">You already have a Make account linked to your OneLogin</a></li>
      <li><a href="shared-dashboard">You already have a Make account linked to your OneLogin and have joined or created a shared space</a></li>
      <li><a href="link-or-create">Or, you can choose whether to link an existing Make account to your OneLogin</a></li>
    </ul>
  </div>
{% endblock %}
