{% extends "layouts/main.html" %}

{% set pageName="Make a lasting power of attorney" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      {{ pageName }}
    </h1>

    <p class="govuk-body-l">
      This online service will help you to make a lasting power of attorney (LPA) for England and Wales.
    </p>

    <p>
      It has step-by-step guidance to making an LPA, which will help you answer each question as you go through the service. We’ll use your answers to make an LPA that you can save and print, sign and send to the Office of the Public Guardian for registration.
    </p>

    <p>
      We’ll save your LPA as you progress so you do not need to complete it in one go.
    </p>

    <div class="govuk-inset-text">
      If you already have a registered LPA and want to use it online, go to the Use a lasting power of attorney service. 
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-8">
  <div class="govuk-grid-column-one-half" style="margin-right: -1rem !important;">
    <h2 class="govuk-heading-m">I do not have an LPA account</h2>
    <p>To start your LPA you first need to set up an online account. You can use your account to make multiple LPAs for yourself and others.</p>
    <a class="govuk-button govuk-button--start" href="fake-one-login">Create my account</a>
  </div>

  <div class="govuk-grid-column-one-half" style="border-left: 5px solid silver; padding-left: 3rem !important;">
    <h2 class="govuk-heading-m">I already have an LPA account</h2>
    <p>Continue making your LPA online by signing into your existing account.</p>
    <a class="govuk-button govuk-button--start" href="fake-one-login">Sign in</a>
  </div>
</div>

{% endblock %}
