{% extends "layouts/main.html" %}

{% set pageName="Edit team member" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Manage members</span>
      <h1 class="govuk-heading-xl">
        Leon Vynehall
      </h1>

      {{ govukCheckboxes({
        name: "permissions",
        fieldset: {
          legend: {
            text: "Permissions",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "All members can create and edit LPAs."
        },
        items: [
          {
            text: "Admin",
            hint: {text: "Admins can manage members and change the shared space’s details."}
          }
        ]
      }) }}

      {{ govukRadios({
        name: "status",
        fieldset: {
          legend: {
            text: "Status",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "allow",
            text: "Allow access to this shared space",
            checked: true
          },
          {
            value: "suspend",
            text: "Suspend access to this shared space",
            hint: {
              text: "For example, for extend leave"
            }
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save",
          href: "manage-shared-space"
        }) }}

        {{ govukButton({
          text: "Delete user",
          classes: "govuk-button--secondary",
          href: "delete-leon-vynehall"
        }) }}
      </div>
    </div>
  </div>
{% endblock %}
