{% extends "layouts/main.html" %}

{% set pageName="Reset your password" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ pageName }}
    </h1>

    <p>Enter your email address below. If there's an account associated with the address, we'll send you a link to reset your password.</p>
    
    {{ govukInput({
      label: {
        text: "Email address"
      }
    }) }}

    {{ govukInput({
      label: {
        text: "Confirm your email address"
      }
    }) }}
    
    {{ govukButton({
      text: "Email me the link",
      href: "reset-password-sent"
    }) }}
  </div>
</div>

{% endblock %}
