{% extends "layouts/main.html" %}

{% set pageName="Thank you" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ pageName }}
    </h1>

    <p class="govuk-body-l">We've emailed a link to <strong>blah@example.com</strong> so that you can reset your password.</p>

    <p>If you have not received the email within a few minutes, please check your spam, bulk or junk email folder – your email system may have blocked it by mistake.</p>

    <p>We'll only send a password reset link to the email address belonging to an activated account.</p>

    <div class="aside">
      <p>
        <a href="reset-password-email">Continue to the email</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
