{% extends "layouts/unbranded.html" %}

{% block pageTitle %}
  Inbox - Reset your password
{% endblock %}

{% block content %}
  <div class="email-box">
    {{ govukSummaryList({
      rows: [
        {
          key: { text: "From" },
          value: { text: "noreply@publicguardian.gov.uk" }
        },
        {
          key: { text: "Subject" },
          value: { text: "Password reset request" }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">
      Please reset your password
    </h2>
    <p>
      You told us you’d forgotten the password for your LPA account.
    </p>
    <p>
      Please choose a new password by following this link: <a href="do-reset-password">https://[...].opg.service.justice.gov.uk/forget-password/reset/some-random-chars</a>
    </p>
    <p>If you’ve remembered your password or do not want to reset it, just ignore this email and sign in as usual.</p>
  </div>
{% endblock %}
