{% extends "layouts/signed-in-shared.html" %}

{% set pageName="Your details" %}
{% set navActive="details" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageName }}
      </h1>

      <p>Update your details.</p>

      <p><a href="#" class="govuk-link govuk-link--no-visited-state">Change Password</a></p>
      <p><a href="#" class="govuk-link govuk-link--no-visited-state">Change Email Address</a></p>
      <p><a href="#" class="govuk-link govuk-link--no-visited-state">Delete Account</a></p>

      <h2 class="govuk-heading-m">What is your name?</h2>

      {{ govukSelect({
        name: "title",
        label: {
          text: "Title"
        },
        items: [
          {text: "Mr"}
        ]
      }) }}

      {{ govukInput({
        label: {
          text: "First names"
        },
        value: "Alice"
      }) }}

      {{ govukInput({
        label: {
          text: "Last name"
        },
        value: "Moxom"
      }) }}

      <h2 class="govuk-heading-m">What is your date of birth?</h2>

      <p>...</p>

      <h2 class="govuk-heading-m">What is your address?</h2>

      <p>...</p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue",
          href: "manage-shared-space"
        }) }}

        {{ govukButton({
          classes: "govuk-button--secondary",
          text: "Cancel",
          href: "manage-shared-space"
        }) }}
      </div>
    </div>
  </div>
{% endblock %}
